/**
 * Interlibrary loans styling.
 */


.ding-ill--material-group > * {
  display: none;
}

.ding-ill--material-group > :first-child {
  display: block;
}

.ding-ill--material-group__expanded > * {
  display: block;
}

.ding-ill--material-group-toggle {
  border: 0 solid rgba(38,38,38,.2);
  border-width: 1px 0;
  cursor: pointer;
  height: 80px;
  line-height: 42px;
  padding: 19px 15px;
  vertical-align: center;
}

.ding-ill--material-group-toggle-text {
  display: block;
  position: relative;
}

.ding-ill--material-group-toggle-text::after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 54px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "\e905";
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  background-color: #808285;
}

.ding-ill--material-group__expanded .ding-ill--material-group-toggle-text::after {
  content: "\e901";
}

/* Odd hack needed to work with the current floating */
.inner .ding-ill--material-group-toggle {
  float: left;
  width: 100%;
}
