.user-dashboard {
  display: flex;
  flex-direction: row;
}

.user-dashboard__column {
  width: 50%;
}

.user-dashboard-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-dashboard-title__count {
  background: #FFE6ED;
  border-radius: 5px;
  display: inline-block;
  margin-left: 15px;
  padding: 4px 10px 2px;
  line-height: 1;
}

.user-dashboard-title__count--is-loading {
  background: linear-gradient(180deg, #FFE6ED, deeppink);
  background-size: 400% 400%;
  animation: pulse-background 2s ease infinite;
  color: transparent;
}

.user-dashboard-item {
  border: 1px solid lightgrey;
  border-radius: 5px;
  border-left: 3px solid darkgray;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 0 25px 10px 0;
  padding: 20px;
}

.user-dashboard-item__title {
  background: #DBE0E0;
  border-radius: 3px;
  color: #282828;
  display: inline-block;
  font-size: 90%;
  padding: 3px 10px;
}

.user-dashboard-item--type-loans-overdue {
  border-left-color: #E61B45;
}

.user-dashboard-item--type-loans-overdue .user-dashboard-item__title {
  background: #E61B45;
  color: #FFF;
}

.user-dashboard-item--type-loans-due {
  border-left-color: #FFBE06;
}

.user-dashboard-item--type-loans-due .user-dashboard-item__title {
  background: #FFBE06;
}

.user-dashboard-item--type-orders-ready {
  border-left-color: #00AE15;
}

.user-dashboard-item--type-orders-ready .user-dashboard-item__title {
  background: #00AE15;
  color: #FFF;
}

.user-dashboard-item--has-notification {
  position: relative;
}

.user-dashboard-item--has-notification::after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #F21E69;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  animation: scale-in-center 0.2s ease-in both;
}

.user-dashboard-item__description {
  font-size: 85%;
  margin: 5px 0 0;
}

.user-dashboard-item__count {
  align-items: center;
  background: #F7F7F7;
  color: #595F63;
  display: flex;
  font-size: 125%;
  height: 45px;
  justify-content: center;
  margin-right: 30px;
  width: 30px;
}

.user-dashboard-item__count--is-loading {
  background: linear-gradient(180deg, #F7F7F7, darkgray);
  background-size: 400% 400%;
  animation: pulse-background 2s ease infinite;
  color: transparent;
}

@keyframes pulse-background {
  0% {
    background-position:50% 0%
  }
  50% {
    background-position:50% 100%
  }
  100% {
     background-position:50% 0%
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
